li {
  list-style-type: "➡️ ";
}

ul {
  margin-left: -0.5rem;
  padding-left: 0rem;
  padding-right: 1rem;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
}

.headingContainer {
  margin-bottom: 1rem;
}

.sectionHeading {
  margin-left: -0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.444rem;
  font-weight: 600;
  text-decoration: underline;
}

.downloadButton {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
