@import "style.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

label {
  font-family: $font-nav;
  display: flex;
  flex-direction: column;

  padding: 0.5rem 0.6rem;
}

input,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  display: flex;
  margin: auto;

  padding: 0.5rem;

  box-sizing: border-box;

  border: 2px solid black;
  border-radius: $border-radius;
  width: 500px;
}

button {
  font-family: $font-nav;
  width: 100px;

  display: flex;
  justify-content: space-around;

  margin: auto;
  margin-top: 2rem;
}
