.caption {
  width: 100vw;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0 !important;
}

@import "~bootstrap/scss/bootstrap";
