@import "style.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: auto;
}

main {
  font-family: $font-text, sans-serif;
  text-align: justify;

  padding-top: 3rem;

  max-width: 35%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-self: center;
}

.h1 {
  font-family: $font-header, sans-serif;
  text-align: center;
  color: $text-accent;
  background-color: $text;

  max-width: 50%;
  margin: 0 auto;
  margin-top: 5rem;

  border-radius: $border-radius;
}
